@font-face {
    font-family: Hades;
    src: url("../../resources/font/Hades.woff2");
}

@font-face {
    font-family: Persephone;
    src: url("../../resources/font/Persephone.woff2");
}

@font-face {
    font-family: Alegreya;
    src: url("../../resources/font/alegreya-sans/AlegreyaSans-Regular.woff2");
}

@font-face {
    font-family: Ceasar-Dressing;
    src: url("../../resources/font/caesar-dressing/CaesarDressing-Regular.ttf");
}

body {
    margin: 0;
    overflow: hidden;
    color: white;
    font-family: Alegreya, sans-serif;
    user-select: none;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
}

#splash {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #9dceff;
}

.clickable {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0.2em 0;
    cursor: pointer;
}
.clickable::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}
.clickable:hover::after,
.clickable:focus::after {
    transform: translate3d(0, 0, 0);
}

#start {
    font-family: Hades, sans-serif;
    font-size: xxx-large;
}

.header {
    max-width: 50%;
    height: auto;
    margin-bottom: 10%;
}

#level-select {
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
    background: #9dceff;
}

#levels {
    font-size: xxx-large;
    font-family: Ceasar-Dressing, serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.level {
    text-align: center;
    margin: 0 10% 0 10%;
}

.instructions {
    margin-top: 10%;
    font-size: large;
}

#pause {
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
}

#resume {
    font-size: xxx-large;
    font-family: Hades, serif;
}

#overlay {
    user-select: none;
    z-index: 1;
    display: none;
}

#score {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: xxx-large;
}

#stats {
    display: none
}

#forest {
    cursor: pointer;
}

#desert {
    cursor: pointer;
}

#return {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-image: url("../../resources/exit.svg");
    background-size: cover;
    cursor: pointer;
}